{"name":"basket-mobile","slug":"basket-mobile","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.ricardolopezb.basketmobile"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"}},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"0fc9bf9a-9d8d-4ec1-b078-bbff8c485bfe"}},"sdkVersion":"48.0.0","platforms":["ios","android","web"]}